<app-header></app-header>

<section class="containerAll" id="containerAll">

    

<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <a href="#" class="anchorHome1">
        <img class="imgHome1 rounded-t-lg" src="/background/zahnarzt-wernitz_preview_95864e3358d68db19a6716d42003beb1.png" alt="" />
    </a>
    <div class="p-5">
        <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>

        <div>

            <img src="" alt="">

        </div>

    </div>
</div>


<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <a href="#" class="anchorHome1">
        <img class="imgHome1 rounded-t-lg" src="/background/tales.png" alt="" />
    </a>
    <div class="p-5">
        <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>

        <div>

            <img src="" alt="">

        </div>

    </div>
</div>




<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <a href="#" class="anchorHome1" >
        <img class="imgHome1 rounded-t-lg" src="/background/blod.png" alt="" />
    </a>
    <div class="p-5">
        <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>

        <div>

            <img src="" alt="">

        </div>

    </div>
</div>



<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <a href="#" class="anchorHome1">
        <img class="imgHome1 rounded-t-lg" src="/background/website.png" alt="" />
    </a>
    <div class="p-5">
        <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>

        <div>

            <img src="" alt="">

        </div>

    </div>
</div>



<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <a href="#" class="anchorHome1">
        <img class="imgHome1 rounded-t-lg" src="/background/awards.png" alt="" />
    </a>
    <div class="p-5">
        <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>

        <div>

            <img src="" alt="">

        </div>

    </div>
</div>



<div class="max-w-sm bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700">
    <a href="#" class="anchorHome1">
        <img class="imgHome1 rounded-t-lg" src="/background/synchronize.png" alt="" />
    </a>
    <div class="p-5">
        <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Noteworthy technology acquisitions 2021</h5>
        </a>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>

        <div>

            <img src="" alt="">

        </div>

    </div>
</div>



</section>

<div class="footerStyle" id="footerStyle">

    <div>

  
    <h1 class="title1Style">The most beautiful websites handpicked for you — since 2008!</h1>
    <h3 class="title2Style">A little about this site</h3>
    <p class="pStyle">Hello, I'm David, Designer & Developer and I manage bestwebsite.gallery (former MakeBetterWebsites).I started this site in 2008 and it's one of my biggest — ok, the biggest — side projects. For me, it's simply my visual bookmark collection. For you, it's maybe a source of inspiration for new projects or something else. Enjoy!</p>
</div>
</div>